@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    background: #ffffff;
}

#header {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
     -ms-transition: all 0.4s ease-in-out;
         transition: all 0.4s ease-in-out;
}

p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

b {
    color: white;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
b
.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}


.wrapper {
    display: block;
}


#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999999;
    background: rgb(133, 21, 21);
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: rgb(133, 21, 21);
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #fff;
    color: black;
}

.overlay {
    top: 0px;
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: black;
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 0.8;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: rgb(133, 21, 21);
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid rgb(133, 21, 21);
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: black;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: rgb(133, 21, 21);
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: rgb(133, 21, 21);
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/banner.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}

.rank {
  padding: 50px 40px;
}

.table td
{
    text-align: center;
    vertical-align: middle;
}


@media (max-width: 575.98px) {
    #logo-about-us {width: 300px; length: 300px;}
    #avatar-1 {width: 300px; length: 300px;}
    #avatar-2 {width: 300px; length: 300px;}
    #avatar-3 {width: 300px; length: 300px;}
    #avatar-4 {width: 300px; length: 300px;}
    #spotify {width: 100px; length: 100px;}
    #itunes {width: 125px; length: 125px;}
    #anchor {width: 100px; length: 100px;}
    #stitcher {width: 100px; length: 100px;}
    #tunein {width: 125px; length: 125px;}
    #spotify-logo {width: 130px; length: 130px;}
    #itunes-logo {width: 150px; length: 150px;}
    #anchor-logo {width: 130px; length: 130px;}
    #stitcher-logo {width: 130px; length: 130px;}
    #tunein-logo {width: 130px; length: 130px;}
}

@media (min-width: 576px) and (max-width: 767.98px) {
    #logo-about-us {width: 500px; length: 500px;}
    #avatar-1 {width: 500px; length: 500px;}
    #avatar-2 {width: 500px; length: 500px;}
    #avatar-3 {width: 500px; length: 500px;}
    #avatar-4 {width: 500px; length: 500px;}
    #itunes-logo {margin-top: 10px; margin-bottom: 10px;}
}

@media (min-width: 768px) and (max-width: 991.98px) {
    #logo-about-us {width: 700px; length: 700px;}
    #avatar-1 {width: 290px; length: 290px;}
    #avatar-2 {width: 290px; length: 290px;}
    #avatar-3 {width: 290px; length: 290px;}
    #avatar-4 {width: 290px; length: 290px;}
    #itunes-logo {margin-top: 10px; margin-bottom: 10px;}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    #logo-about-us {width: 450px; length: 450px;}
    #avatar-1 {width: 450px; length: 450px;}
    #avatar-2 {width: 450px; length: 450px;}
    #avatar-3 {width: 450px; length: 450px;}
    #avatar-4 {width: 450px; length: 450px;}
}

@media (min-width: 1200px) {
    #logo-about-us {width: 450px; length: 450px;}
    #avatar-1 {width: 290px; length: 290px;}
    #avatar-2 {width: 290px; length: 290px;}
    #avatar-3 {width: 290px; length: 290px;}
    #avatar-4 {width: 290px; length: 290px;}
}